.hero {
  padding-top: 201px;

  &__container {
    @include flex-all-between;
    position: relative;

    &::before {
      content: '';
      z-index: var(--z-index-0);
      position: absolute;
      top: -50px;
      left: -80px;
      display: inline-block;
      border-radius: 50%;
      width: 551px;
      height: 551px;

      filter: blur(220px);
      background: rgba(250, 117, 21, 1);
      opacity: 0.2;
    }
  }

  &__left {
    max-width: 599px;
  }

  &__title {
    margin-bottom: 114px;
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3px;
    text-align: left;
    color: var(--neutral-color-100);
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__form {
    @include flex-align-center;
    gap: 16px;
  }

  &__input {
    padding-bottom: 23px;
    min-width: 280px;
    border-bottom: 1px solid var(--neutral-color-40);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;
  }

  &__btn {
    padding: 16px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);
  }
}
