<section class="hero">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">
        Digitally forward creative
      </h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive marketing, we've got you covered.
        Be where the world is going
      </p>
      <form class="hero__form">
        <input class="hero__input" type="email" placeholder="Enter your email" required>
        <button class="hero__btn button-form">Try for free</button>
      </form>
    </div>
  </div>
</section>