<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__head">
      <div class="testimonials__title heading-h2">
        What our customer are saying
      </div>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img loading="lazy" src="../../../assets/icons/testimonials_stars.svg" width="132" height="20"
                alt="Stars rating">
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes
              a
              surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img class="testimonials__comment-author-avatar" loading="lazy"
                src="../../../assets/images/testimonials_author.png" width="56" height="56" alt="Renee Wells">
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__comment-author-professions text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating">
              <img loading="lazy" src="../../../assets/icons/testimonials_stars.svg" width="132" height="20"
                alt="Stars rating">
              <span class="testimonials__rating-num text-p-default">5.0</span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight quality and innovative design that makes
              a
              surge of visitors on my website”
            </p>
            <address class="testimonials__comment-author">
              <img class="testimonials__comment-author-avatar" loading="lazy"
                src="../../../assets/images/testimonials_author.png" width="56" height="56" alt="Renee Wells">
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__comment-author-professions text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials__btns">
      <button class="testimonials__btn testimonials__btn--prev">
        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
            fill="#CED1D8" />
        </svg>
      </button>
      <button class="testimonials__btn testimonials__btn--next">
        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
            fill="#CED1D8" />
        </svg>
      </button>
    </div>
  </div>
</section>